@font-face {
  font-family: "font-1";
  src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

$color1: rgb(82, 130, 101);
$color1o: rgba(82, 130, 101, 0.709);
$color2: rgb(201, 239, 199);
$color3: rgb(236, 236, 236);
$color4: rgb(26, 26, 26);

$font1: "font-1", sans-serif;
$font2: "font-2", sans-serif;

@mixin center-unique-child {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  font-family: $font1;
}

section {
  position: relative;
}

h1,
h2 {
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 8px;
  @media screen and (max-width: 1440px) {
    font-size: 3.5rem;
    letter-spacing: 5px;
  }
  @media screen and (max-width: 925px) {
    font-size: 3rem;
    letter-spacing: 4px;
  }
  @media screen and (max-width: 420px) {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }
}

h3 {
  font-size: 3rem;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  @media screen and (max-width: 1440px) {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }
  @media screen and (max-width: 925px) {
    font-size: 2rem;
    letter-spacing: 2px;
  }
  @media screen and (max-width: 420px) {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }
}

h4 {
  font-size: 2.5rem;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  @media screen and (max-width: 1440px) {
    font-size: 2rem;
    letter-spacing: 3px;
  }
  @media screen and (max-width: 925px) {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
  @media screen and (max-width: 420px) {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }
}

h5 {
  font-size: 2rem;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  @media screen and (max-width: 1440px) {
    font-size: 1.6rem;
    letter-spacing: 2px;
  }
  @media screen and (max-width: 925px) {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
  @media screen and (max-width: 420px) {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }
}

p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 300;
  color: $color4;
  @media screen and (max-width: 925px) {
    font-size: 1rem;
  }
}

span {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  color: $color1;
  @media screen and (max-width: 1440px) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 925px) {
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
  @media screen and (max-width: 420px) {
    font-size: 1.1rem;
  }
}

a,
a:visited {
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  color: $color2;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  @media screen and (max-width: 925px) {
    font-size: 1rem;
  }
}

sl-button {
  transition: all 0.4s ease-in-out;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.section-container {
  width: 100%;
  max-width: 1920px;
  padding: 50px 100px;
  @media screen and (max-width: 925px) {
    padding: 50px;
  }
  @media screen and (max-width: 450px) {
    padding: 50px 0px;
  }
}

// BACKGROUND ********************

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bghead {
  background: url(./../img/bg01.png) center/cover;
  opacity: 1;
  filter: brightness(50%);
  height: 70vh;
}

#bghome {
  height: 100%;
}

.bglight {
  background: url(./../img/background-bw.png) center/cover fixed;
  opacity: 0.2;
}

.bgins {
  background: url(./../img/IMG_2717.JPG) center/cover fixed;
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
}

.bgcont {
  background: url(./../img/IMG_2707.JPG) center/cover fixed;
  filter: brightness(30%);
}

// **********************************************

.bi {
  display: flex;
  @media screen and (max-width: 925px) {
    display: block;
  }
}

.left1,
.right1 {
  width: 50%;
  @media screen and (max-width: 925px) {
    width: 100%;
  }
}

.odd {
  @media screen and (max-width: 925px) {
    flex-direction: column;
  }
}
.even {
  @media screen and (max-width: 925px) {
    flex-direction: column-reverse;
  }
}

.inspection {
  .section-container {
    @media screen and (max-width: 500px) {
      padding: 50px 5px;
    }
  }
  position: relative;
  height: 300px;
  @include center-unique-child();
  a,
  a:visited {
    // box-shadow: 0px 0px 54px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    width: 70%;
    min-width: 400px;
    margin: 0 auto;
    background: $color1;
    padding: 35px 25px;
    border-radius: 25px;
    font-size: 1.6rem;
    font-weight: 400;
    border: $color1 1px solid;
    align-items: center;

    &:hover {
      letter-spacing: 3px;
      color: $color3;
      background: $color4;
      border: $color4 1px solid;
      i {
        transform: scale(1.5);
      }
    }

    i {
      padding-left: 15px;
      transition: all 0.4s ease-in-out;
    }
    @media screen and (max-width: 1440px) {
      font-size: 1.4rem;
    }
    @media screen and (max-width: 925px) {
      font-size: 1.2rem;
      letter-spacing: 2px;
    }
    @media screen and (max-width: 500px) {
      width: 100%;
      min-width: 200px;
    }
    @media screen and (max-width: 420px) {
      font-size: 1.1rem;
    }
  }
}

.bt {
  transition: all 0.4s ease-in-out;
  text-align: center;
  &:hover {
    transform: scale(1.05);
    i {
      transform: scale(2);
    }
  }
  i {
    transition: 0.4s ease-in-out;
    font-size: 1.4rem;
  }
  a {
    padding: 15px 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.4rem;
    position: relative;
    &::after {
      content: "";
      height: 2px;
      width: 70%;
      position: absolute;
      bottom: 11px;
      left: 15%;
      transform: scaleX(0);
    }
    &:hover {
      padding: 15px 25px;
      &::after {
        transform: scaleX(0);
        animation: animRoll 1s ease-in-out forwards;
      }
    }
  }
}

.darkbt {
  a {
    &::after {
      background: $color4;
    }
    color: $color4;
  }
}

.lightbt {
  a {
    &::after {
      background: $color3;
    }
    color: $color3;
  }
}

// ANIMATIONS *******************************

.anim-simple {
  position: relative;
  &:hover {
    &::after {
      content: "";
      background: $color1;
      position: absolute;
      height: 1px;
      width: 90%;
      bottom: -3px;
      left: 10%;

      transform: scaleX(0);
      animation: animRoll 0.4s ease-in forwards;
    }
  }
}

@keyframes animRoll {
  100% {
    transform: scaleX(1);
  }
}

// ***************************************
