.bg-rat {
  position: absolute;
  z-index: 3;
  width: 80%;
  height: 50%;
}

.services {
  #bg-services {
    background: url(./../img/background-bw.png) center/cover fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    // filter: grayscale(80%);
    opacity: 0.1;
    position: absolute;
    // bottom: -40vh;
  }
  .section-container {
    .prompt {
      z-index: 5;
      @include center-unique-child;
      // background: $color9;
      margin: 0px 100px 75px;
      text-align: left;
      @media screen and (max-width: 600px) {
        margin: 0px 0px 75px;
      }
      p {
        color: $color4;
        text-align: justify;
      }
    }
    .signature-services {
      h3 {
        // padding: 0 0 100px;
        color: $color1;
      }
      .sig-serv {
        text-align: justify;
        display: flex;
        margin: 150px 0;
        gap: 25px;
        .content {
          z-index: 6;
          // border: $color2 1px solid;
          padding: 5px 25px;
          box-shadow: 10px -6px 31px 0px rgba(0, 0, 0, 0.62);
          transition: 0.4s ease-in-out;
          background: $color1o;
          &:hover {
            transform: scale(1.02);
          }

          p {
            text-align: justify;
            color: $color3;
            padding: 25px 0;
          }
          a {
            color: $color3;
          }
        }

        .left,
        .right3 {
          @include center-unique-child;
          text-align: left;
          .container {
            display: block;
          }
          .sig-serv-img {
            width: 600px;
            height: 400px;
            z-index: 6;
            @media screen and (max-width: 1440px) {
              width: 400px;
              height: 300px;
            }
          }
          #mesh-install-p {
            background: url("./../img/IMG_2732.JPG") center/cover;
          }
          #gutter-cleaning-p {
            background: url("./../img/roof-std.jpg") center/cover;
          }
          #repointing-p {
            background: url("./../img/roof-std.jpg") center/cover;
          }
          #roof-cleaning-p {
            background: url("./../img/roof-std.jpg") center/cover;
          }
          #roof-painting-p {
            background: url("./../img/roof-std.jpg") center/cover;
          }
          #rebedding-capping-p {
            background: url("./../img/roof-std.jpg") center/cover;
          }
          #solar-panel-p {
            background: url("./../img/roof-std.jpg") center/cover;
          }
        }
      }
    }
  }
}

.sig-serv-title {
  display: flex;
  align-items: center;
  .sig-serv-icon {
    background: url("./../img/gutter-protection-sketch-1.png") center/cover;
    width: 50px;
    height: 50px;
    margin-right: 30px;
  }
  h5 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    color: $color2;
  }
}
