footer {
  width: 100%;
  height: 150px;
  @include center-unique-child;
  background: $color1;
  color: $color2;
  box-shadow: 3px -3px 14px 0px rgba(0, 0, 0, 0.74);
  .section-container {
    width: 100%;
    max-width: 1240px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .fcontent {
      padding-left: 20px;
      width: 300px;
      span {
        display: block;
        margin-bottom: 5px;
        color: $color3;
      }
      p {
        color: $color2;
      }
    }
    .logo {
      height: 150px;
      width: 300px;
      img {
        height: 100%;
      }
    }
  }
}
