header {
  min-height: 40vh;
  background: url(./../img/background-01.jpeg) top/cover;
  width: 100%;
  z-index: 0;

  padding-bottom: 5vh;
  box-shadow: 5px 7px 14px 0px rgba(0, 0, 0, 0.74);
  nav {
    z-index: 10;
    @include center-unique-child;
    height: 100px;
    width: 100%;
    background: $color1;
    color: $color2;
    // background: rgba(255, 255, 255, 0.5);
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      .logo {
        height: 100%;
        img {
          height: 100%;
        }
      }
      .menu {
        width: 400px;
        ul {
          width: 100%;
          display: flex;
          justify-content: space-between;
          li {
            position: relative;
            transition: 0.4s;
            &::after {
              position: absolute;
              content: "";
              bottom: -4px;
              left: 0;
            }
            &:hover {
              a,
              a:visited {
                color: $color3;
              }
              &::after {
                height: 1px;
                width: 100%;
                background: $color3;
                transform: scaleX(0);
                animation: menuAnim 0.4s ease-in-out forwards;
                @media screen and (max-width: 925px) {
                  width: 50%;
                }
              }
            }
            a,
            a:visited {
              color: $color2;
            }
            @media screen and (max-width: 925px) {
              padding: 35px 0 0;
            }
          }
          #oui {
            position: relative;
            transition: 0.4s;
            &:hover {
              a,
              a:visited {
                color: $color2;
              }
              &::after {
                color: $color2;
              }
            }
            &::after {
              position: absolute;
              content: "";
              bottom: -4px;
              left: 0;
              height: 1px;
              width: 100%;
              background: $color2;
              @media screen and (max-width: 925px) {
                width: 50%;
              }
            }
          }
          @media screen and (max-width: 925px) {
            flex-direction: column;
            text-align: left;
            padding: 25px;
          }
        }
        @media screen and (max-width: 925px) {
          position: fixed;
          top: 100px;
          right: -100%;
          width: 200px;
          height: 300px;
          background-color: white;
          transition: right 0.4s ease-in-out;
        }
      }
      .menu.open {
        right: 0;
      }
      .burger-bun {
        display: none;
        font-size: 3rem;
        cursor: pointer;
        width: 100px;
        @media screen and (max-width: 925px) {
          display: block;
          padding: 0 10px;
        }
        @media screen and (max-width: 420px) {
          font-size: 2rem;
        }
      }
      .socials {
        padding-right: 20px;
        width: 150px;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 925px) {
          position: fixed;
          top: 350px;
          right: -100%;
          width: 200px;
          height: 25px;
          background-color: white;
          transition: right 0.4s ease-in-out;
          padding: 25px;
        }
      }
      .socials.open {
        right: 0;
      }
    }
  }

  .title-container {
    width: 100%;
    justify-content: center;
    h2 {
      padding: 5vh 8vw 0;
    }
    a {
      display: block;
      text-align: center;
      margin: 15vh auto 0;
      width: 150px;
    }
  }
}

@keyframes menuAnim {
  100% {
    transform: scaleX(1);
  }
}
